/* 
* @Author: chaos
* @Date:   2016-11-12 10:03:24
* @Last Modified by: 
* @Last Modified time: 
*/
@charset "UTF-8";

html {
	overflow: auto;
	width: 919px;
	height: 100%;
}
.warpper{
	width:100%;
	position:relative;
}
.warning-header{
	height:62px;
	line-height:62px;
	margin-top:10px;
	margin-left:40px;
	margin-right:40px;
	border-bottom:1px solid #EAEAEA;
}
.warning-header-logo{
	display:inline-block;
	width:70px;
	height:62px;
	float:left;
}
.warning-header-logo-hnAirlines{
	background:url(../images/warning-header-logo-hnAirlines.png) no-repeat;
	background-position: 0px 0px;
} 
.warning-header-logo-tjAirlines{
	background:url(../images/warning-header-logo-tjAirlines.png) no-repeat;
	background-position: 0px 0px;
} 
.warning-header-logo-bjAirlines{
	background:url(../images/warning-header-logo-bjAirlines.png) no-repeat;
	background-position: 0px 0px;
}
.warning-header h2{
	display:inline-block;
	float:left;
	font-size:22px;
	font-weight:bold;
}
.warning-header-message{
	float:right;
	margin-right:0px;
	padding-top:10px;
	font-size:12px;
}
.warning-header-message .rules{
	margin:0px 10px;
}
.warning-content{
	margin:5px 20px 10px 20px;
}
.warning-foot{
	margin:10px 20px 5px;
	padding-top:10px;
	font-size:12px;
	color:#999999;
	border-top:1px solid #C4C4C4;
	border-bottom:1px solid #E0E0E0;
}
.warning-foot .hr{
	height:1px;
	margin-top:10px;
	margin-bottom:2px;
	border-bottom:1px solid #C4C4C4;
	background:#C4C4C4;
}
.warning-foot .foot-copyright{
	position: relative;
	text-align: center;
}
.warning-foot .copyright{
	-webkit-text-shadow: rgb(255, 255, 255) -1px -1px 0px, rgb(153, 153, 153) 0px 0px 0px;
	-moz-text-shadow: rgb(255, 255, 255) -1px -1px 0px, rgb(153, 153, 153) 0px 0px 0px;
	-ms-text-shadow: rgb(255, 255, 255) -1px -1px 0px, rgb(153, 153, 153) 0px 0px 0px;
	text-shadow: rgb(255, 255, 255) -1px -1px 0px, rgb(153, 153, 153) 0px 0px 0px;
}
.warning-foot .chart-today{
	position: absolute;
	margin-left: 180px;
}

/* 指标表 */
.warning-index{
	width:100%;
	padding:10px 35px;
}
.warning-index .index-bg{
	position:relative;
	width:380px;
	height:150px;
	margin:10px 10px;
	float:left;
	background:url(../images/warning-index-times.png) no-repeat;
	background-position:0px 0px;
}
.warning-index .index-name{
	position:absolute;
	left:80px;
	top:35px;
	width:100px;
	text-align:center;
	color:#FFFFFF;
	font-weight:bold;
	font-size:16px;
}
.warning-index .index-val{
	position:absolute;
	left:80px;
	top:70px;
	width:100px;
	text-align:center;
	font-weight:bold;
	font-size:24px;
}
.warning-index .index-name-ly{
	position:absolute;
	left:270px;
	top:42px;
	width:100px;
	text-align:left;
	font-weight:bold;
	font-size:14px;
	color:#717171;
}
.warning-index .index-val-ly{
	position:absolute;
	left:265px;
	top:80px;
	width:100px;
	text-align:center;
	font-weight:bold;
	font-size:20px;
	color:#717171;
}

/* 3小标题 */
.warning-event h3{
	height:40px;
	line-height:40px;
	font-size:15px;
	font-weight:bold;
	background:url(../images/warning-rate-h3-bg.png) no-repeat;
}
.warning-rate h3{
	height:40px;
	line-height:40px;
	font-size:15px;
	font-weight:bold;
	background:url(../images/warning-times-h3-bg.png) no-repeat;
}
.warning-top h3{
	height:40px;
	line-height:40px;
	font-size:15px;
	font-weight:bold;
	background:url(../images/warning-rate-h3-bg.png) no-repeat;
}
.warning-event h3>img,
.warning-rate h3>img,
.warning-top h3>img{
	display:inline-block;
	float:left;
	vertical-align:middle;
	margin-top:5px;
	margin-bottom:5px;
	padding-left:15px;
}
.warning-event h3>span,
.warning-rate h3>span,
.warning-top h3>span{
	padding-left:45px;
}
.warning-event h3>span .plane-type,
.warning-rate h3>span .plane-type,
.warning-top h3>span .plane-type,
.warning-rate h3>span .alert-id{
	font-weight:bold;
}

/* TOP表格 */
.warning-top-body{
	width:100%;
	padding:10px 35px;
}
.warning-top-body .top-bg{
	position:relative;
	width:380px;
	height:250px;
	margin:10px 5px;
	float:left;
}
.warning-top-body .top-name{
	position:absolute;
	left:10px;
	top:16px;
	width:90px;
	text-align:center;
	color:#FFFFFF;
	font-weight:bold;
	font-size:16px;
	height:30px;
	line-height:30px;
	background-color:#159DCD;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
}
.warning-top-body .top-sort-by{
	position:absolute;
	left:10px;
	top:50px;
	width:90px;
	text-align:center;
	color:#FFFFFF;
	font-weight:bold;
	font-size:14px;
	height:20px;
	line-height:20px;
	background-color:#38C7EF;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
}
.warning-top-body .top-col1-name{
	position:absolute;
	left:168px;
	top:-2px;
	width:84px;
	text-align:center;
	color:#FFFFFF;
	font-weight:bold;
	font-size:14px;
	height:25px;
	line-height:25px;
	background-color:#38C7EF;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-ms-border-radius:15px;
	border-radius:15px;
	z-index:1;
}
.warning-top-body .top-col2-name{
	position:absolute;
	left:256px;
	top:-2px;
	width:84px;
	text-align:center;
	color:#FFFFFF;
	font-weight:bold;
	font-size:14px;
	height:25px;
	line-height:25px;
	background-color:#38C7EF;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-ms-border-radius:15px;
	border-radius:15px;
	z-index:1;
}
.warning-top-body table{
	position:absolute;
	left:96px;
	top:10px;
	text-align:center;
	border:2px solid #38C7EF;
}
.warning-top-body table th{
	height:11px;
}
.warning-top-body table th:nth-child(1){
	background-color:#EDEFED;
}
.warning-top-body table td{
	height:17px;
	line-height:17px;
	font-size:14px;
	font-weight:bold;
}
.warning-top-body table tr>td:nth-child(1){
	color:#38C7EF;
	background-color:#EDEFED;
}

/* 清除浮动 */
.clearfix{
	clear:both;
}